{% extends "base.html" %}
{% block content %}

<form method="POST" action="" class="form-Horizontal">
    {{ form.csrf_token }}

    <label>Login</label>
    <div class="form-group" >
        {{ form.email(placeholder="eMail") }}
        <span>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <p style="color:red;">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </span>
    </div>
    <div class="form-group" >
        {{ form.password(placeholder="Password") }}
    </div>
    <span>
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <p style="color:red;">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </span>
    <div class="form-group" >
        <input type="submit" class="btn btn-default" value="Login"/>
    </div>
</form>
{% if error %}
    <p style="color: red">{{ error }}</p>
{% endif %}
<div class="row">
    <a href="upload.parmserv.com/register">Register</a>
</div>
{% endblock %}
